        <td width="360" >
          <%= image_tag "call_brand.jpg", :usemap => "#Map2" %>
          <%= image_tag "call_nav_2.jpg", :usemap => "#Map" %>

          <a href="/gallery/contemporary-art" >
            <%= image_tag "call_nav_2_cont_off.jpg", class: 'navigation-contemporary' %>
          </a>


          <a href="/gallery/antique-prints-and-drawings">
            <%= image_tag "call_nav_2_antprint_off.jpg", class: 'navigation-antique-prints-and-drawings' %>
          </a>

          <a href="/gallery/antique-paintings" >
            <%= image_tag "call_nav_2_antpaint_off.jpg", class: 'navigation-antique-paintings' %>
          </a>

          <a href="/gallery/sculpture">
            <%= image_tag "call_nav_2_sculp_off.jpg", class: 'navigation-sculpture' %>
          </a>

          <a href="/exhibit/current">
            <%= image_tag "call_nav_2_current_off.jpg", class: 'navigation-current' %>
          </a>


          <a href="/exhibit/past">
            <%= image_tag "call_nav_2_past_off.jpg", class: 'navigation-past' %>
          </a>    

          <%= image_tag "call_nav_2_join.jpg", class: 'navigation-join' %>
        
          <form action="/join" method="post">
          <p>
            <input type="text" name="email" />
            <input type="image" src="/assets/call_nav_2_submit.jpg"  width="103" height="35" border="0" align="absmiddle" />
          </p>
          </form>

        </td>