<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>&nbsp;<p /><p /></td>
	</tr>
	<tr align="center">
		<td><table width="960" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
			<tr>
				<td width="360" valign="top" align="right">
					<%= image_tag "call_brand.jpg", :usemap => "Map2" %>
					<%= image_tag "call_nav_2.jpg", :usemap => "Map" %>
					<%= image_tag "call_nav_2_about.jpg" %>
					<%= image_tag "call_nav_2_join.jpg" %>

  				<form action="join.php" method=post>
  					<p>
  						<input type="text" name="email" />
  						<input type="image" src="assets/call_nav_2_submit.jpg"  width="103" height="35" border="0" align="absmiddle" />
  					</p>
  				</form>
        </td>
				<td width="205"><%= image_tag "15x600_lefttbar.jpg" %><%= image_tag "about_pics.jpg" %><%= image_tag "40x600_rightbar.jpg" %>
        </td>
				<td width="395" valign="top">
          <%= image_tag "395x270_white.jpg" %>
          <table width="100%" cellpadding="15" cellspacing="15" border="0">
          <tr align="left"><td>
            <b>About The Gallery</b><p><br />
            Susan Calloway Fine Arts specializes in contemporary art by local, regional, and international artists. Also featuring a carefully curated selection of antique American and European oil paintings and 17th-19th century prints. The gallery provides extensive art consulting services for business and residential clients and collaborates with architecture and design trades. The gallery specializes in conservation framing using archival-quality materials and techniques, and in traditional French mat decoration. <br />
            <br />
            The gallery is open 10 am to 6 pm Tuesday through Saturday. If you would like to make an appointment after hours or on Sunday or Monday, please call (202) 965-4601.<br />
            <br />
          
          </td></tr></table>				
        </td>
				</tr>
			
		</table></td>
	</tr>
  <tr align="center">
    <td>
      Susan Calloway Fine Arts | 1643 Wisconsin Ave NW | Washington DC <%= Date.current.year %> | 202 965 4601 <br />
      <a href="/gallery/fine-art">Fine Art</a> | 
      <a href="/contact">Contact</a> | 
      <a href="/about">About</a> | 
      <a href="/gallery/custom-framing-and-mirror-design">Design</a>
    </td>
  </tr>
</table>


<map name="Map" id="Map"><area shape="rect" coords="81,31,166,52" href="/gallery/fine-art" />
  <area shape="rect" coords="172,33,247,52" href="/gallery/custom-framing-and-mirror-design" />
  <area shape="rect" coords="251,34,352,50" href="/about" />
</map>
<map name="Map2" id="Map2">
  <area shape="rect" coords="79,223,324,245" href="/" />
</map>            