<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>&nbsp;<p /><p /></td>
	</tr>
	<tr align="center">
		<td><table width="960" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
			<tr>
				<td width="360" valign="top" align="right">
					<%= image_tag "call_brand.jpg", :usemap => "#Map2" %>
					<%= image_tag "call_nav_2.jpg", :usemap => "#Map" %>
					<%= image_tag "call_nav_2_about.jpg" %>
					<%= image_tag "call_nav_2_join.jpg" %>

  				<form action="join.php" method=post>
  					<p>
  						<input type="text" name="email" />
  						<input type="image" src="assets/call_nav_2_submit.jpg"  width="103" height="35" border="0" align="absmiddle" />
  					</p>
  				</form>
        </td>
				<td width="205"><%= image_tag "15x600_lefttbar.jpg" %><%= image_tag "about_pics2.jpg" %><%= image_tag "40x600_rightbar.jpg" %>
        </td>
				<td width="395" valign="top">
          <div style="width:365px; overflow:hidden; margin:15px">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6209.084576966889!2d-77.06519399999999!3d38.91158099999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b637ad13f8e3%3A0xc4bf93455628ea50!2s1643+Wisconsin+Ave+NW!5e0!3m2!1sen!2sus!4v1401950962143" width="400" height="300" frameborder="0" style="border:0"></iframe></div>

          <table width="100%" cellpadding="15" cellspacing="15" border="0">
            <tr><td valign="top">
            <b>Contact The Gallery</b><p>
            1643 Wisconsin Ave<br />
            Washington DC 20007<br />
            v 202 965 4601<br />
            f 202 338 1660<br />
            <a href=mailto:gallery@callowayart.com>gallery@callowayart.com</a><br />
            <br />
            <br />
            10 am to 6 pm Tuesday through Saturday
            </td></tr>

            <tr><td>
              <%= render "shared/contact_form" %>
            </td></tr>
          </table>				
        </td>
				</tr>
			
		</table></td>
	</tr>
  <tr align="center">
    <td>
      Susan Calloway Fine Arts | 1643 Wisconsin Ave NW | Washington DC 20007 | 202 965 4601 <br />
      <a href="/gallery/fine-art">Fine Art</a> | 
      <a href="/contact">Contact</a> | 
      <a href="/about">About</a> | 
      <a href="/gallery/custom-framing-and-mirror-design">Design</a>
    </td>
  </tr>
</table>


<map name="Map" id="Map"><area shape="rect" coords="81,31,166,52" href="/gallery/fine-art" />
  <area shape="rect" coords="172,33,247,52" href="/gallery/custom-framing-and-mirror-design" />
  <area shape="rect" coords="251,34,352,50" href="/about" />
</map>
<map name="Map2" id="Map2">
  <area shape="rect" coords="79,223,324,245" href="/" />
</map>            