<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>An inquiry from <b><%= @name %></b></h1>
    <p>
      <%= @inquiry %>
    </p>
    <p>
      You can contact <b><%= @name %></b> at <a href="mailto:<%= @email %>"><%= @email %></a>
    </p>
  </body>
</html>