<a name="top"> </a>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr align="center"><td>
		<table width="960" border="0" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="360">&nbsp;<p /><p /></td>
			<td width="355">&nbsp;<p /><p /></td>
			<td width="245" align="right">
				<div style="margin-top:10px; margin-bottom:10px">
					<form action="/search" >
						<input type="text"   name="q"       />
						<input type="submit" value="search" />
					</form>
				</div>
			</td>
		</tr>
		</table>
	</td></tr>
	<tr align="center">
		<td><table width="960" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
			<tr valign="top" align="right">
				<td width="360" >
					<%= image_tag "call_brand.jpg", :usemap => "#Map2" %>
					<%= image_tag "call_nav_2.jpg", :usemap => "#Map" %>

					<a href="/gallery/contemporary-art" >
						<%= image_tag "call_nav_2_cont_off.jpg", class: 'navigation-contemporary' %>
					</a>


					<a href="/gallery/antique-prints-and-drawings">
						<%= image_tag "call_nav_2_antprint_off.jpg", class: 'navigation-antique-prints-and-drawings' %>
					</a>

					<a href="/gallery/antique-paintings" >
						<%= image_tag "call_nav_2_antpaint_off.jpg", class: 'navigation-antique-paintings' %>
					</a>

					<a href="/gallery/sculpture">
						<%= image_tag "call_nav_2_sculp_off.jpg", class: 'navigation-sculpture' %>
					</a>

					<a href="/exhibit/current">
						<%= image_tag "call_nav_2_current_off.jpg", class: 'navigation-current' %>
					</a>


					<a href="/exhibit/past">
						<%= image_tag "call_nav_2_past_off.jpg", class: 'navigation-past' %>
					</a>		

					<%= image_tag "call_nav_2_join.jpg", class: 'navigation-join' %>
				
					<form action="/join" method=post>
					<p>
						<input type="text" name="email" />
						<input type="image" src="/assets/call_nav_2_submit.jpg"  width="103" height="35" border="0" align="absmiddle" />
					</p>
					</form>

				</td>
				<td width="355">

					<table width="355" border="0" cellpadding="0" cellspacing="0">
					
						<% @listings.each do | listing | %>
							<tr align=left>
								<td bgcolor='#000000' width='15'>&nbsp;</td><td bgcolor='#000000' width='150'>
									<div id="mycarousel1" class="carousel-component">
										<div class="carousel-clip-region" >
											<a href="<%= uri_for listing %>" >
												<img src="<%= listing[:thumb] %>"  />
											</a>
										</div>
									</div>
								</td>

								<td width='190' class='description'>
									<a href="<%= uri_for listing %>" >
										<b><%= raw(description_forr listing) %></b>
									</a>
									<br /><br />


									<% unless listing[:count].nil? %>																	
										<a href="<%= uri_for listing %>">
											View all <%= listing[:count] %> Pieces
										</a>

										<br /><br />
									<% end %>
								</td>

							</tr>	
						<% end %>

					</table>
				</td>
				<td width="245">
					<table width="100%" cellpadding="15" cellspacing="0" border="0">
						<tr><td>
							<!--
							<% if @group %>
								<div class='group-title'>
									<%= @listings[0][@group.to_sym] %>
								</div>

								<div class='group-description' >
									<%= @listings[0][(@group + '_description').to_sym] %>
								</div>
							<% end %>
							-->
						</td></tr>
					</table>				
				</td>
			</tr>
		</table>
	</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr align="center">
		<td>
			Susan Calloway Fine Arts | 1643 Wisconsin Ave NW | Washington DC <%= Date.current.year %> | 202 965 4601 <br />
			<a href="/gallery/fine-art">Fine Art</a> | 
			<a href="/contact">Contact</a> | 
			<a href="/about">About</a> | 
			<a href="/gallery/custom-framing-and-mirror-design">Design</a>
		</td>
	</tr>
</table>


<map name="Map" id="Map"><area shape="rect" coords="81,31,166,52" href="/gallery/contemporary-art" />
	<area shape="rect" coords="172,33,247,52" href="/gallery/custom-framing-and-mirror-design" />
	<area shape="rect" coords="251,34,352,50" href="/about" />
</map>
<map name="Map2" id="Map2">
	<area shape="rect" coords="79,223,324,245" href="/" />
</map>						