<%# add faceted search here %>
<%# add artist title, desc if available %>
<% if @artist %>
  <div class="side-description-title" >
    <%= @artist %>
  </div>

  <div class="side-description" >
    <%= @description %>
  </div>

<%# if not a single artist, we check for facets, and if the
    case, we add a list of them to help narrow down search
%>
<% end %> 
<% if @facets && @facets.length > 0 %>
  <br /><br />
  <div class="side-facets">
    <div class="side-facets-intro" >
      narrow results
    </div>
    <% @facets.each do | facet | %>
      <div class="side-facet" >
        <a href="<%= request.path %>/<%= facet[:slug] %>" >
          <div class="side-facet-thumb">
            <img 
              src="<%= facet[:thumb] %>" 

            />
          </div>

          <div class="side-facet-title" >
            <%= facet[:title] %> <span style="font-variant:normall;font-weight:normal" >(<%= facet[:count] %> pieces)</span>
          </div>
        </a>
      </div>
    <% end %>
  <div>

<% end %>
