<!DOCTYPE html>
<html>
<head>
  <title>Susan Calloway Art</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "thickbox",    media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="giuEPQGSfosZFX1z4fMYU0TKCgif8zFPK95pSb20HeM" />

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51699038-1', 'callowayart.com');
    ga('send', 'pageview');

  </script>

  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="art, calloway gallery, gallery, georgetown gallery, bookhill gallery, fine art, washington dc gallery, contemporary art, framing, custom framing, prints, oil painting, ed cooper, artist, karen silve, georgetown art gallery, abstract art, art events, art event, gallery oppening, corporate art consulting, residential art consulting, hospitality art consulting, buy art, washington dc, dc art, interior design, design, acrylic painting, design consulting, purchase art, art gallery in georgetown washington dc, best art gallery in dc, late 19th century art, french art, susan calloway, susan calloway art gallery, gallery openings in dc, gallery openings in washington dc, purchase paintings in washington dc,Archival framing, conservation framing, custom mirrors, mirrors, photography, fine art photography, fine art photography dc, fine art photography Georgetown, Washington, D.C. Artists, buy art in Georgetown, oil paintings, oil paintings Georgetown, contemporary artworks on paper, callowayart, Susan Calloway Washington art dealer, Susan Calloway DC art dealer, botanical prints, antique art, Middle Kingdom, Phillip Pearlstein, Brad Aldridge, Piranesi, Besler, callaway art" />  

</head>

<body>
<%= yield %>

</body>
</html>
