<!DOCTYPE html>
<html>
<head>
  <title>Susan Calloway Art</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "thickbox",    media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="giuEPQGSfosZFX1z4fMYU0TKCgif8zFPK95pSb20HeM" />
</head>
<body>
<%= yield %>

</body>
</html>
